.Molecula2{
    display: flex;
    position: relative;
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    background-image: url('../assets/FONDO\ HORIZONTAL.jpg') ;
    background-size: 50%;
    
}

#usuario{
    width: 30px;
    height: 30px;
    margin: auto 0;
}