#menuicon{
    height: 30px;
    width: 30px;
    margin-top: 20px;
}

.Menu ul{
    list-style-type: none;
    padding:0 ;
    width: 375px;
    background-color: black;
    color: white;
    display: flex;
    margin: 0px;
    align-content: space-between;
    justify-content: space-around;

}
.Menu li{
    border: solid 1px gray;
    padding: 10px;
}
.Menu{
    height: 30px;
    width: 30px;
}
