.slider{
    width: 100%;
    margin: auto;
    margin-top: 7px;
    margin-bottom: -20px;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 10s infinite alternate linear;
}
.slider:nth-child(2) ul{
    animation-timing-function: steps(4);
}
.slider li{
    width: 100%;
    height: 80%;
    list-style: none;
}

.slider img{
    width: 100%;
    height: 80%;
}

@keyframes cambio{
    0%{ margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45% {margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}