.Prod1{
    background-image: url("../Images/fondo.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 25% 75%;
    border-radius: 10px;
    border: 3px solid black;
    height: 480px;
    margin-bottom: 10px;
}
.Prod1 img{
    width: 90px;
    border-radius: 50%;
    border: 3px solid black;     
}
.Prod11 span:first-child{
    display: flex;
}
.Prod12{
    display: flex;
    margin-left: 2px;
    font-size: 15px;
    font-weight: 800;
}
.top{
    display: flex;
    align-items: center;
    grid-column: 1/3;
}
.Ped{
    padding-left: 3px;
    font-size: 35px;
    font-weight:1000;
    color: black;
    text-shadow: 10px 10px 10px  white;  
    padding-left: 30px;  
}