.cont-ubicacion{
    margin: auto;
    margin-top: 50px;
    margin-left: 20%;
    text-align: center;
}

.cont-ubicacion img{
    margin: auto;
    margin-top: 5%;
    height: 100%;
    width: 70%;
    position: relative;
}