body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/Images/Captura.JPG");
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.to{
  margin-top: 80px;
  color: transparent;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 10px;
}
nav{
  color: white;
  
}
.at{
  color: white;
  font-size: 32px;
  font-weight: 800;
}
.at2{
  color: white;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 10px;
}
.at3{
  color: white;
  font-size: 32px;
  font-weight: 800;
}
.at4{
  color: white;
  font-size: 32px;
  font-weight: 800;
}
.at5{
  color: white;
  font-size: 32px;
  font-weight: 800;
}
.at6{
  color: white;
  font-size: 32px;
  font-weight: 800;
}
.at6{
  color: white;
  font-size: 32px;
  font-weight: 800;
}