body {
  font-family: 'Charm', cursive;
  font-family: 'Kumbh Sans', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Outfit', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rochester', cursive;
  font-family: 'Rubik', sans-serif;
}

